﻿@model IceCreamCompany.Models.Customer
@{
    ViewData["Title"] = "Buy";
}

<div class="container">
    <h1>Choose Your Flavor</h1>
    <div class="checkout">
        <div class="row justify-content-center intro-row">
            <div class="col-4">
                Ice Cream Flavors
            </div>
            <div class="col-2">
                Buy Bulk(lbs)
            </div>
            <div class="col-2">
                Total Amount
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-4">
                <select class="form-control" id="flavor">
                    <option>Select</option>
                    <option>Vanilla Ice Cream with Caramel Ripple and Almonds</option>
                    <option>Vanilla Ice Cream with Cherry Dark Chocolate Ice Cream</option>
                    <option>Vanilla Ice Cream with Pistachio</option>
                </select>
            </div>
            <div class="col-2">
                <select class="form-control" id="quantity">
                    <option>1</option>
                    <option>1.5</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>
            <div class="col-2">
                <div id="totalAmount">

                </div>
            </div>
            <div class="col-2">
                <div>
                    <img class="imageDisplay" id="iceCreamImage" alt=""/>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-5">
        <form method="post" enctype="multipart/form-data" asp-action="Buy">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" asp-for="FirstName"></label>
                <div class="col-sm-6">
                    <input asp-for="FirstName" type="text" class="form-control" placeholder="First Name" required />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" asp-for="LastName"></label>
                <div class="col-sm-6">
                    <input asp-for="LastName" type="text" class="form-control" placeholder="Last Name" required />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" asp-for="Address"></label>
                <div class="col-sm-6">
                    <input asp-for="Address" type="text" class="form-control" placeholder="Address" required />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" asp-for="Email"></label>
                <div class="col-sm-6">
                    <input asp-for="Email" type="email" class="form-control" placeholder="email@example.com" required />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" asp-for="PhoneNumber"></label>
                <div class="col-sm-6">
                    <input asp-for="PhoneNumber" type="number" class="form-control" placeholder="Phone Number" required />
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button id="formButton" type="submit" class="btn btn-outline-primary">Make a Purchase</button>
                </div>
            </div>
        </form>
    </div>
</div>